@charset "utf-8";
.san_pham {
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	margin: 5px;
	border: 1px dotted #666;
}
.ten_san_pham {
	font-family: "Comic Sans MS", cursive;
	font-size: 18px;
	color: #F00;
	padding-top: 5px;
	padding-bottom: 5px;
}
.gia {
	font-family: "Comic Sans MS", cursive;
	font-size: 18px;
	font-style: italic;
	font-weight: bolder;
	font-variant: normal;
	color: #00F;
	padding-top: 5px;
	padding-bottom: 5px;
}

.khuyen_mai {
	font-size: 18px;
	color: #F00;
	text-decoration: underline;
}
.imgsp
{
	height:180px;
	width:230px;
}
.item{
	float:left;
	height:300px;
	width:230px;
	margin:0px 20px;
	}
a {
	text-decoration:none;}
a:hover {
	text-decoration:underline;
	}
	
	
.timkiem_top_panel{
	border-bottom:#00F medium solid;
	}
.sidebox-wrapper {
	margin-top:10px;
                text-align:center;
                vertical-align:top;
				width:100%;
            }
            .sidebox-title{
				font-family:Arial, Helvetica, sans-serif;
				width:96%;
                margin: 0px 0px 0px 0px;
                padding: 5px 6px 0px 6px;
                height: 25px;
				font-size:16px;
                line-height: 100%;
                background: #D1D1D1;
				 border-radius:10px 10px 0px 0px;
           background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 6%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(6%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 6%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 6%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 6%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 6%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

            }
            .sidebox-body div a{
				font-family:Arial, Helvetica, sans-serif;
				font-size:15px;
                padding-left:5px;} 
            
			.sidebox-body {
				width:101.5%;
				background: #b8e1fc; /* Old browsers */
background: -moz-linear-gradient(top,  #b8e1fc 0%, #a9d2f3 10%, #a2daf5 83%, #bdf3fd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8e1fc), color-stop(10%,#a9d2f3), color-stop(83%,#a2daf5), color-stop(100%,#bdf3fd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#a2daf5 83%,#bdf3fd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#a2daf5 83%,#bdf3fd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#a2daf5 83%,#bdf3fd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b8e1fc 0%,#a9d2f3 10%,#a2daf5 83%,#bdf3fd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */

				}
            .sidebox-body div{
                height:20px;
                margin:5px 0px;
                width:90%;

                font-size:18px;
                font-weight:bold;
               	padding-left:5px;
               	text-decoration:none;
                text-align:left;
				
            }
.sidebox-sub-title {
	vertical-align:middle;
	width:90%;
	text-transform:capitalize;
			padding-left:5px;
			padding-top:5px;
			text-indent:3px;
			text-align:left;
			border-radius:10px;
			height:30px;
			color:#FFF;
			background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	}
a:link { ; }

a:visited { ; }


a:active { ; }

.tag {
	text-transform:capitalize;
	text-align:center;
			width:100px;
			float:left;
			font-weight:bold;
			
			height:30px;
			text-indent:5px;
			font-size:18px;
			text-align:left;
			border-radius:7px;
			margin-top:5px;
			overflow:hidden;
			color:#FFF;
			background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	
	}