@charset "utf-8";
/* CSS Document */


	
	#thong_tin_linhkien {
	display:none;
	}
	.labelsp {
		width:200px;
		max-width:200px;
		height:50px;
		
		}
		.textsp {
			
			left:150px;
			}