.text_reg {
	padding-bottom: 3px;
	
	color: #00F;
	text-align: right;
	padding-right: 5px;
}
.text_input{
	margin-left: 5px;
	font-size: 16px;
	font-style: normal;
	
	
	}
#errorList {
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	color: #F00;
}
.login_header_td {
	padding-left:10px;
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
	color: #FFF;
	background-color: #90F;
	border-left-color: #FFF;
	border-bottom-color: #FFF;
	border-right-color: #FFF;
	border-top-color: #F00;
	border-top-style: solid;
	border-top-width: 3px;
	margin-top: -10px;
	border-radius:10px;
}
#dang_ky {
	vertical-align: middle;
	text-align: center;
	background-position: center center;
	background-color: #99ff33;
	color: #F00;
	font-weight: bold;
	line-height: 18px;
	border-radius: 10px;
	border-color:#F00;
	border-width:medium;
	border-style:solid;
}
