@charset "utf-8";
#ten_san_pham {
	font-size: 24px;
	color: #F00;
	font-weight: bold;
}
.text_thong_tin_san_pham {
	font-size: 18px;
	color: #00F;
	padding-left: 5px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
.gia_san_pham {
	font-size: 24px;
	color: #F00;
	padding-left: 5px;
}
.text_header {
	font-size: 20px;
	color: #FFF;
	border: 2px solid #90F;
	background-color: #009;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#hinh_anh_sp_chi_tiet {
	font-size: 36px;
	text-align: center;
	vertical-align: middle;
}
